.popup__container {
  background-color: #fff;
  color: #000;
  max-width: 430px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 100%;
    padding: 25px 22px;
  }
}
