.form__button-close {
  width: 32px;
  height: 32px;
  background: url(../../../images/Close\ Icon.svg) no-repeat center/contain;
  position: absolute;
  left: calc(100% + 8px);
  bottom: calc(100% + 8px);
}

@media screen and (max-width: 600px) {
  .form__button-close {
    width: 20px;
    height: 20px;
    left: auto;
    bottom: calc(100% + 16px);
    right: 0;
  }
}


.form__button-close:hover {
  opacity: .6;
}
