.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px; /*высота строки не совпадает с фигма в угоду перфект пикселя*/
  padding: 0;
  vertical-align: top;
}

