.popup {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s linear, opacity .5s linear;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 19px;
  box-sizing: border-box;
}
