.popup__button-close {
  width: 32px;
  height: 32px;
  background: url(../../../images/Close\ Icon.svg) no-repeat center/contain;
  padding: 0;
  border: 0;
  margin-bottom: 8px;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 468px) {
  .popup__button-close {

  }
}



.popup__button-close:hover {
  opacity: .6;
}
