.popup__button-close {
  width: 32px;
  height: 32px;
  background: url(../../../images/Close\ Icon.svg) no-repeat center/contain;
  padding: 0;
  border: 0;
  position: relative;
  left: calc((430px + 16px)/2 + 8px);
  bottom: 8px;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    left: calc((430px)/2 - 16px/2);
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 468px) {
  .popup__button-close {
    left: calc(50% - 16px/2);
  }
}



.popup__button-close:hover {
  opacity: .6;
}
