.popup__button-close {
  width: 32px;
  height: 32px;
  background: url(../../../images/Close\ Icon.svg) no-repeat center/contain;
  padding: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
  }
}

.popup__button-close:hover {
  opacity: .6;
}
