.profile__button-add {
  width: 150px;
  min-height: 50px;
  margin-left: auto;
  background: url(../../../images/Add\ Button.svg) center/contain no-repeat;
}

@media screen and (max-width: 850px) {
  .profile__button-add {
    margin: 34px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .profile__button-add {
    width: 282px;
    background: url(../../../images/Add\ Button\ wide.svg) center/contain no-repeat;
  }
}

.profile__button-add:hover {
  opacity: .6;
}
